<div class="columns">
  <div class="column is-8">
  <form action="https://formspree.io/gerry_hd@live.com.mx" method="POST">
    <label class="label">Email</label>
    <div class="control">
      <input type="email" name="email" placeholder="Your email">
    </div>
    <br>
    <label class="label">Name</label>
    <div class="control">
      <input required type="text" name="name" placeholder="Your name">
    </div>
    <br>
    <label class="label">Message</label>
    <div class="control">
      <textarea name="message" placeholder="Your message"></textarea>
    </div>
    <br>
    <button type="submit">Send</button>
  </form>
  </div>
</div>
<style>
  input {
    display: block;
  }
</style>

