@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Life+Savers');

html {
    overflow: hidden;
}
html, body{
    background-color: #111111;
    background-image: asset_url("lines1.gif");
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div.content {
  margin: 0 15%;
}

strong{
    color: #54c456;
    text-shadow: 2px 0 0 #111, -2px 0 0 #111, 0 2px 0 #111, 0 -2px 0 #111, 1px 1px #111, -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111;
}

a{
    color: #0000b3;
}

h4 {
  font-family: 'Life Savers', cursive;
  font-size: 500% !important;
  margin: 0 !important;
}

#bio-header {
    #small_bio {
        font-size: 14px;
        color: #004a63;
    }
    #logo {
        img {
            width: 100%;
            max-width: 200px;
            height: auto;
        }
    }
}

#sections-area {
  text-align: center;
}

.my-button {
  width: 140px;
  height: 65px;
  display: inline-block;
}

#footnote {
  margin-top: 5%;
  text-align: center;
}

#social-media {
  text-align: center;
  margin-top : 5%;
}

/* posts */

.post-header {
    width: 100%;
    height: 10%;
    border: outset 3px #666666;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-top: 2.5%;
    color: #666666;
    font-family: 'Life Savers', cursive;
    position: relative;
    p {
        position: absolute;
        bottom: -40%;
        left: 5px;
        font-size: 500%;
    }
    div.header-logo{
        img {
            width: 25%;
            height: 25%;
        }
    }
}

.item-container {
    // background-image: url(asset-path("posts-bg"));

    margin-top: 1%;
    font-family: 'Ubuntu', sans-serif;
    span.title {
        font-family: 'Special Elite';
        font-size: 300%;
    }
    hr.header-separator {
        background-color: #993300;
        height: 2px;
    }
}

.content-wrapper {
  width: 100%;
}

.post-separator {
    padding: 10% 0;
    text-align: center;
}
