@import url('https://fonts.googleapis.com/css?family=Life+Savers|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Merriweather');

html {
  overflow: hidden;
}
html, body{
  background-color: #560200;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  padding-left: 10%;
  font-family: 'Special Elite', cursive;
  font-size: 500% !important;
  color: #FEABA9;
}

h1+div {
  margin-top: -2%;
  font-family: 'Life Savers', cursive;
  padding-left: 15%;
  color: #f2f2f2;
}

hr {
  margin: 0;
}

.content-wrapper {
  margin: 1%
}

.item-container {
  background-color: #f2f2f2;

}

.post-body {
  font-family: 'Merriweather', serif;
}
a{
  color: #560200;
  .post-title {
    font-family: 'Alegreya', serif;
    font-size: 300%;
  }
}


.post-list {
  background-color: #feaba9;
}