body{
    background-color: #000000;
    background-image: url(asset_path("lion-wp"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

strong{
    color: #ED7CED;
}

#logo {
    width: 350px;
    height: 350px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px outset #d92b4c;
    position: relative;
    display: block;
    margin: 30px auto;
    overflow: hidden;
}

#small_bio {
    font-size: 14px;

    border: 1px outset #d92b4c;
    border-radius: 12px;
    background-color: #74192a;
    color: #E0E0E0;
    margin: 0 auto;
}

#sections_area {
    padding: 30px;
    text-align: center;
    .link{
        padding: 0 30px;
        margin: 30px;
    }
}