body{
    background-color: #000000;
    background-image: url(asset_path("lion-wp"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#logo {
    width: 350px;
    height: 350px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px outset #d92b4c;
    position: relative;
    display: block;
    margin: 30px auto;


    overflow: hidden;
}

#small_bio {
    font-size: 14px;
    padding: 15px;
    border: 1px outset #d92b4c;
    border-radius: 12px;
    background-color: #74192a;
    width: 500px;
    height: auto;
    color: #E0E0E0;
    margin: 0 auto;
}

ul.sections {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

}

ul.sections > li {
    float: left;
    width: 20%;
    height: 80px;
    background-color: #d9d9d9;
    padding: 15px 15px;
}

ul.sections > li > a {

    font-size: 16px;
    color: black;
    display:block;
    text-align: center;
    text-decoration: none;

}

#sections-area {
    display: block;
    width: 100%;
    min-width: 650px;
    float: left;
}
